@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: GT Walsheim Pro;
    font-weight: 400;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
    height: 100%;
    background-color: #FAF8FF;
}
header{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #FAF8FF;
    width: 100vw;
    height: 100%;
}
.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88px;
    background-color: #ffffff;

}
.logo{
    width: 145px;
    height: 18px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.inside-links{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 22px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: fit-content;
}
.link p{
    color: #070A1C;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    font-weight: 500;
}
.link-picture{
    width: 20px;
    height: 20px;
}
.link-log-out{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 95px;
    height: 40px;
    border: 1px solid #543C52;
    border-radius: 1234px;
}
.link-log-out img{
    width: 20px;
    height: 20px;
}
.link-log-out p{
    color: #070A1C;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.6%;
}
